:root {
  --bg-main: #f8fafc;
  --bg-menu: #1e293b;
  --text-main: #1e293b;
  --text-menu: #ffffff;
  --hover-menu: #334155;
}

.dark {
  --bg-main: #62656d;
  --bg-menu: #0f172a;
  --text-main: #e2e8f0;
  --text-menu: #e2e8f0;
  --hover-menu: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: Arial, Helvetica, sans-serif;
}
