.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.menu {
  width: 250px;
  background-color: var(--bg-menu);
  color: var(--text-menu);
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu h2 {
  margin-bottom: 20px;
}

.menu a {
  color: var(--text-menu);
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.2s;
}

.menu a:hover {
  background-color: var(--hover-menu);
}

.content {
  flex: 1;
  padding: 40px;
  background-color: var(--bg-main);
  color: var(--text-main);
  overflow-y: auto;
}
.submenu-btn {
  background: none;
  border: none;
  color: var(--text-menu);
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
}

.submenu-btn:hover {
  background-color: var(--hover-menu);
}

.submenu {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  gap: 8px;
}

.submenu a {
  font-size: 0.9rem;
  padding: 6px;
}
